@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

.page {
  min-height: 100%;
  position: relative;
  background-color: #efefef;
}
// variables
@smallFont: 28px;
@baseFont: 32px;
@borderWidth: 0.02667rem;
// functions
.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

