@charset "UTF-8";
@import "./common.less";

.header {
  @background: rgba(0,0,0,0.3);
  height: 4.533333rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    z-index: 11;
    left: 0;
    bottom: -0.266667rem;
    width: 100%;
    height: 0.533333rem;
    background: #fff;
    border-radius: 50%;
  }
  .banner {
    width: 100%;
    height: 100%;
  }
  .headerbar {
    @barHeight: 0.693333rem;
    .clearfix;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    font-size: @bigFont;
    color: #fff;
    .title {
      height: @barHeight;
      line-height: @barHeight;
      text-align: center;
      margin: 0 100px;
      .wrap {
        display: inline-block;
        height: @barHeight;
        line-height: @barHeight;
        background-color: @background;
        border-radius: 0.346667rem;
        padding: 0 0.1rem;
        * {
          vertical-align: middle;
        }
        .icon-loc-hollow {
          margin-right: -0.133333rem;
        }
        .icon-arrow-right-thin {
          margin-left: -0.133333rem;
        }

      }
      
    }
    .search {
      float: right;
      text-align: center;
      height: 0.693333rem;
      line-height: 0.693333rem;
      width: 0.693333rem;
      margin-right: 0.266667rem;
      border-radius: 0.346667rem;
      background-color: @background;
    }
    
  }
}
.menus_bar {
  @menuHeight: 1.333333rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 0.026667rem solid #b6b6b6;
  .menus {
    .clearfix;
    .menu {
      float: left;
      width: 33.333%;
      height: @menuHeight;
      .menu_link {
        display: inline-block;
        width: 100%;
        height: @menuHeight;
        text-align: center;
        font-size: 22px;
        color: #9e9e9e;
        i {
          display: block;
          width: 0.586667rem;
          height: 0.586667rem;
          margin: 0.186667rem auto 0;
          background: url('../imgs/tab-icons.png') no-repeat;
          background-size: 0.586667rem auto;
          &.ico-bowl-fill {
            background-position: 0 0;
          }
          &.ico-paper {
            background-position: 0 -1.173333rem;
          }
          &.ico-user {
            background-position: 0 -2.346667rem;
          }
        }
        .menu_text {
          display: block;
          margin-top: 0.08rem;
        }
      }
      &.active {        
        .menu_text {
          color: #784203;
        }
        i {
          &.ico-bowl-fill {
            background-position: 0 -0.586667rem;
          }
          &.ico-paper {
            background-position: 0 -1.76rem;
          }
          &.ico-user {
            background-position: 0 -2.933333rem;
          }
        }
        
      }
    }
  }
}