@charset "UTF-8";
@import "./common.less";

.header {
  @headerHeight: 1.12rem;
  height: @headerHeight;
  padding: 0 @paddingSide;
  border-bottom: 1px solid #ffd705;
  background-color: #ffd705;
  .logo {
    @logoSize: 0.90667rem;
    float: left;
    margin-top: (@headerHeight - @logoSize)/2;
    img {
      width: @logoSize;
      height: @logoSize;
    }
  }
  .title {
    line-height: @headerHeight;
    font-size: 38px;
    font-weight: bold;
    color: #6b450a;
    text-align: center;
    margin: 0 0.85333rem;
  }
}
.container {
  width: 100%;
  overflow: hidden;
  .clearfix;
  .tip {
    height: 0.98667rem;
    line-height: 0.98667rem;
    padding: 0 @paddingSide;
    background-color: #fff3cf;
    font-size: @smallFont;
    .ops {
      float: right;
      color: #bfbfbf;
    }
  }

  .area {
    margin-bottom: 2.66667rem;
    .citys {
      .letter {
        height: 0.93333rem;
        line-height: 0.93333rem;
        padding: 0 @paddingSide;
        font-size: @smallFont;
        color: #666666;
      }
      .city {
        float: left;
        width: 25%;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: @baseFont;
        text-align: center;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        border-bottom: @borderWidth solid #efefef;
        background-color: #fff;
        &:not(:nth-of-type(4n)) {
          border-right: @borderWidth solid #efefef;
        }
        &.hot {
          color: #fa9700;
        }
      }
    }

  }
  .service {
    width: 100%;
    height: 0.50667rem;
    text-align: center;
    font-size: @smallFont;
    color: #999;
    position: absolute;
    bottom: 5px;
    .tel {
      color: #fa9700;
    }
  }
}
.footer {
  @footerHeight: 1.6rem;
  width: 100%;
  height: @footerHeight;
  line-height: @footerHeight;
  padding: 0 @paddingSide 0 0.53333rem;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  bottom: 0;
  * {
    vertical-align: middle;
  }
  .close {
    color: #fa9700;
    font-size: @smallFont;
    line-height: @smallFont;
    position: absolute;
    left: @marginSmall;
    top: @marginSmall;
  }
  .logo {
    @logoSize: 0.90667rem;
    margin-right: 0.13333rem;
    img {
      width: @logoSize;
      height: @logoSize;
    }
  }
  .desc {
    font-size: 0.34667rem;
    color: #fff;
  }
  .down_btn {
    @btnHeight: 0.77333rem;
    float: right;
    margin-top: (@footerHeight - @btnHeight)/2;
    width: 2rem;
    height: @btnHeight;
    line-height: @btnHeight;
    font-size: @smallFont;
    background-color: #ffd300;
    color: #6b450a;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    border-radius: 0.08rem;
  }
}
