@charset "UTF-8";
@import "./common.less";

.header {
  @headerHeight: 1.33333rem;
  @btnWidth: 2.06667rem;
  .clearfix;
  width: 100%;
  float: left;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 0.02667rem solid #ccc;
  .back_btn {
    float: left;
    width: 1.33333rem;
    height: @headerHeight;
    line-height: @headerHeight;
    text-align: center;
    font-size: 36px;
  }
  .register_btn {
    float: right;
    width: @btnWidth;
    height: @headerHeight;
    line-height: @headerHeight;
    color: #656565;
    font-size: @smallFont;
  }
  .title {
    height: @headerHeight;
    line-height: @headerHeight;
    margin: 0 @btnWidth;
    text-align: center;
    font-weight: 400;
    font-size: 0.48rem;
  }
}
.container {
  position: absolute;
  top: 1.36rem;
  bottom: 0;
  width: 100%;
  font-size: 28px;
  clear: both;
  .login_tab {
    @tabHeight: 1.093333rem;
    height: @tabHeight;
    .clearfix;
    .tab_item {
      float: left;
      width: 50%;
      height: @tabHeight;
      line-height: @tabHeight;
      font-size: inherit;
      color: #656565;
      text-align: center;
      background-color: #f9f9f9;
      border-bottom: 0.02667rem solid #DDD8CE;
      &:first-child {
        border-right: 0.02667rem solid #DDD8CE;
      }
      &.active {
        color: #000;
        background-color: #fff;
        border-bottom: 0.02667rem solid transparent;
      }
    }
  }
  .tab_content {
    padding: 0 @paddingSide;
    background-color: #fff;
    .form {
      padding: 0 0.13333rem;
      .input_group {
        @groupHeight: 1.333333rem;
        @imgSize: 0.53333rem;
        display:-moz-box; /* Firefox */
        display:-webkit-box; /* Safari and Chrome */
        display: box;
        height: @groupHeight;
        padding-top: 0.21333rem;
        border-bottom: 1px solid #DDD8CE;
        .img_icon {
          width: @imgSize;
          height: @imgSize;
          margin-top: 0.13333rem;
        }
        input {
          -moz-box-flex: 1;
          -webkit-box-flex: 1;
          box-flex: 1;
          display: block;
          width: 100%;
          height: 0.8rem;
          font-size: 28px;
          margin-left: 0.13333rem;
          margin-right: 0.26667rem;
          overflow: hidden;
          outline: none;
          border: none;
        }
        .code_btn {
          height: 0.85333rem;
          line-height: 0.85333rem;
          text-align: center;
          font-size: 0.37333rem;
          background-color: #cdcdcd;
          color: #fff;
          border: 0;
          padding: 0 0.4rem;
          border-radius: 0.04rem;
        }
        .tip {
          height: 1.46667rem;
          line-height: 1.46667rem;
          color: #898989;
          font-size: 24px;
          margin-top: -0.21333rem;
        }
      }
    }

  }
  .btn_wrapper {
    padding: 0.33333rem 0.53333rem;
    .login_btn {
      width: 100%;
      height: 1.12rem;
      line-height: 1.12rem;
      font-size: @baseFont;
      color: rgba(107,69,10,.4);
      text-align: center;
      background-color: #fdc900;
      border-radius: 0.04rem;
    }
  }
  .forget {
    font-size: 24px;
    text-align: right;
    padding-right: 0.33333rem;
    .forget_pwd {
      color: #6b450a;
    }
  }
  .tips {
    width: 100%;
    position: absolute;
    bottom: 0.8rem;
    left: 0;
    color: #898989;
    text-align: center;
    font-size: 24px;
    .agreement {
      color: #6b450a;
      text-decoration: underline;
    }
  }
}
