@charset 'UTF-8';
@import './common.less';

.header {
  @headerHeight: 1.12rem;
  background-color: #ffd705;
  border-bottom: 2px solid #ffd705;
  .title {
    height: @headerHeight;
    line-height: @headerHeight;
    text-align: center;
    font-size: 0.506667rem;
    color: #6b450a;
    font-weight: bold;
  }
}