@charset 'UTF-8';
@import './common.less';

.header {
  @headerHeight: 1.12rem;
  background-color: #ffd705;
  border-bottom: 2px solid #ffd705;
  .title {
    height: @headerHeight;
    line-height: @headerHeight;
    text-align: center;
    font-size: 0.506667rem;
    color: #6b450a;
    font-weight: bold;
  }
}
.container {
  background-color: #fff;
  overflow: hidden;
  .user {
    font-size: @baseFont;
    color: #333;
    border-bottom: 0.026667rem solid #ddd;
    .user_name {
      overflow: hidden;
      .name {
        height: 1.066667rem;
        line-height: 1.066667rem;
        padding: 0 0.4rem;
        margin-left: 0.066667rem;
        margin-top: 0.266667rem;
        border-bottom: 0.026667rem solid #ddd;
      }      
    }
    .user_msg {
      padding: 0 0.4rem;
      .user_item {
        height: 1.2rem;
        line-height: 1.2rem;
        border-bottom: 0.026667rem solid #ddd;
        &:last-child {
          border-bottom: 0;
        }
        .residual-icon {
          float: left;
          width: 0.533333rem;
          height: 0.533333rem;
          margin-top: 0.333333rem;
          margin-left: 0.066667rem;
          margin-right: 0.133333rem;
          background: url('../imgs/user-icon.png') no-repeat;
          background-size: 5.52rem 0.48rem;
          &.address-icon {
            background-position: -4.053333rem 0;
          }
          &.ticket-icon {
            background-position: -0.32rem 0;
          }
          &.opinion-icon {
            background-position: -0.96rem 0;
          }
          &.help-icon {
            background-position: -1.573333rem 0;
          }
        } 
        &.phone {
          background: url('../imgs/user-phone.png') no-repeat;
          background-size: 0.426667rem 0.48rem;
          padding-left: 0.853333rem;
          background-position: 0.24rem;
        }     
      }
    }
    .icon-arrow-right-thin {
      height: 1.066667rem;
      line-height: 1.173333rem;
      width: 0.16rem;
      float: right;
      color: #aaa;
      font-size: 38px;
      margin-right: 20px;
    }
  }
  .logout {
    display: block;
    font-size: 0.373333rem;
    background-color: #fff;
    width: 93%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: #fa9700;
    border: 0.026667rem solid #fa9700;
    border-radius: 6px;
    margin: 0.613333rem auto;
  }
}