@charset "UTF-8";
@import "./common.less";

.shop {
  background-color: #fff;
  .shop_tabs {
    .clearfix;
    border-bottom: 0.026667rem solid #ddd;
    .tab {
      float: left;
      height: 1.2rem;
      line-height: 1.2rem;
      width: 33.333%;
      text-align: center;
      font-size: 30px;
      color: #656565;
      &>a {
        display: inline-block;
        height: 100%;
        padding: 0 0.213333rem;
      }
      &.active {
        &>a {
          border-bottom: 0.106667rem solid #ffd900;
        }
      }
    }
  }
  .shop_tips {
    height: 1.173333rem;
    line-height: 1.173333rem;
    font-size: 26px;
    padding: 0 0.4rem;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    .tip {
      color: #656565;
    }
    &::after {
      content: '';
      width: 0.186667rem;
      height: 0.186667rem;
      border: solid #b0b0b0;
      border-width: 0.026667rem 0.026667rem 0 0 ;
      transform: rotate(45deg);
      position: absolute;
      top: 0.466667rem;
      right: 0.4rem;
    }
  }
}
.menu {
  background-color: #fff;
  display: table;
  width: 100%;
  .kinds {
    width: 2.266667rem;
    display: table-cell;
    background-color: #efefef;
    .kind {
      height: 1.626667rem;
      line-height: 1.626667rem;
      border-bottom: 0.026667rem dotted #bfbfbf;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &>a {
        font-size: 28px;
        color: #656565;
        margin-left: 0.4rem;
        white-space: nowrap;
      }
      &.active {
        position: relative;
        background-color: #fff;
        color: #f99b00;
        &::before {
          content: '';
          display: block;
          width: 0.106667rem;
          height: 0.6rem;
          background-color: #ffd300;
          position: absolute;
          top: 0.506667rem;
          left: 0;
        }
      }
    }
  }
  .dishes {

  }
}